body {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#bloqueAux {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}

h2 {
  text-align: center;
}

#formOpciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}
